/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
body {
    font-family: 'Poppins', sans-serif
}

nav ul a,
nav .brand-logo {
    color: #444;
}

nav ul a:hover {
    color: #26a69a;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
    .text-header {
        font-size: medium;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.text-entregadores {
    color: #26a69a;
    text-align: center;
}

.img-entregador {
    border-radius: 50%;
}

.carousel-item {
    text-align: center;
}

.text-1-entregadores {
    color: #26a69a;
    font-weight: 600;
}