{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="mrbee, delivery, patos-pb, paraíba" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- SEO Geral -->
    <meta name="description" content="Somos uma empresa comprometida com nossos clientes, sempre garantindo a sua entrega!">
    <link rel="canonical" href="site">
    <meta name="robots" content="index">

    <!-- Google+ / Schema.org -->
    <meta itemprop="name" content="Mrbee Delivery">
    <meta itemprop="description" content="Somos uma empresa comprometida com nossos clientes, sempre garantindo a sua entrega!">
    <meta itemprop="image" content="#logo">

    <!-- Open Graph Facebook -->
    <meta property="og:title" content="Mrbee Delivery">
    <meta property="og:description" content="Somos uma empresa comprometida com nossos clientes, sempre garantindo a sua entrega!" />
    <meta property="og:url" content="site">
    <meta property="og:site_name" content="Mrbee Delivery" />
    <meta property="og:type" content="website">
    <meta property="og:image" content="#logo">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <title>Mr.Bee Delivery</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{% url 'home' %}" class="brand-logo">
                <img style="margin-top: 6px;" src="/static/img/logo.png" height="45px" alt="logo">
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#entregadores">Entregadores</a></li>
                <li><a href="#parceiros">Parceiros</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#entregadores">Entregadores</a></li>
                <li><a href="#parceiros">Parceiros</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br><br><br><br><br>
                <h1 class="header center teal-text text-lighten-2">Mr. Bee Delivery</h1>
                <div class="row center">
                    <h5 class="header col s12 light text-header">Em busca sempre da excelência, trabalhamos a cada dia, para profissionalizar nossas entregas e atendermos nossos parceiros da melhor forma possível, nesse mercado tão competitivo.</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/static/img/bg-1.png" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m12">
                    <div class="icon-block">
                        <h4 class="text-entregadores" id="entregadores">
                            Nossos entregadores
                        </h4>

                        <div class="carousel">

                            <div class="carousel-item">

                                <p class="text-1-entregadores">
                                    Rafael Oliveira
                                </p>
                                <img class="img-entregador" src="https://user-images.githubusercontent.com/44476076/145065106-dd47f3ae-bb63-4360-900f-06268a67c35e.jpeg" alt="">

                            </div>

                            <div class="carousel-item">
                                <p class="text-1-entregadores">
                                    Luiz Felipe
                                </p>
                                <img class="img-entregador" src="https://user-images.githubusercontent.com/44476076/145065112-aa747e38-d90f-4ed1-bc13-d43c4a574dfa.jpeg" alt="">

                            </div>

                            <div class="carousel-item">
                                <p class="text-1-entregadores">
                                    Lucas
                                </p>
                                <img class="img-entregador" src="https://user-images.githubusercontent.com/44476076/145065109-0896a691-d432-4c20-bc00-0f1ef8f21cf9.jpeg" alt="">

                            </div>

                            <div class="carousel-item">
                                <p class="text-1-entregadores">
                                    Kleison
                                </p>
                                <img class="img-entregador" src="https://user-images.githubusercontent.com/44476076/145068322-b431c469-d3c2-48c7-8f36-5ad6c4451f6a.png" alt="">

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">Um empresa comprometida com entrega dos nossos clientes!</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/static/img/bg-11.png" alt="Unsplashed background img 3"></div>
    </div>

    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m12">
                    <div class="icon-block">
                        <h4 class="text-entregadores" id="parceiros">
                            Nossos parceiros
                        </h4>

                        <div class="carousel">

                            <div class="carousel-item">
                                <img class="img-entregador" src="https://user-images.githubusercontent.com/44476076/145102961-d8f234a6-92da-492b-a5bd-584d8eb26bc5.png" alt="">
                            </div>

                            <div class="carousel-item">
                                <img class="img-entregador" src="https://user-images.githubusercontent.com/44476076/145102234-26bf6e9a-c5a6-4b4c-90c7-517b80dab94b.png" alt="">
                            </div>

                            <div class="carousel-item">
                                <img class="img-entregador" src="https://user-images.githubusercontent.com/44476076/145064904-c0369fd4-1d09-4de4-86d8-f18d6b7594e6.jpeg" alt="">
                            </div>

                            <div class="carousel-item">
                                <img class="img-entregador" src="https://user-images.githubusercontent.com/44476076/145064913-8935cad6-bbf9-4c9e-b386-0f4e88da9748.jpeg" alt="">
                            </div>

                            <div class="carousel-item">
                                <img class="img-entregador" src="https://user-images.githubusercontent.com/44476076/145102497-cbb6603c-a167-403e-bcc3-2bbee41e556c.png" alt="">
                            </div>

                            <div class="carousel-item">
                                <img class="img-entregador" src="https://user-images.githubusercontent.com/44476076/145065007-cf9f4304-a0be-42ed-90fb-227a4742931f.jpeg" alt="">
                            </div>

                            <div class="carousel-item">
                                <img class="img-entregador" src="https://user-images.githubusercontent.com/44476076/145068638-cc287b65-a2d1-4289-a23a-434cba066f05.png" alt="">
                            </div>

                            <div class="carousel-item">
                                <img class="img-entregador" src="https://user-images.githubusercontent.com/44476076/145065013-3087888c-e8f2-453a-b384-a828bf89dea0.jpeg" alt="">
                            </div>

                            <div class="carousel-item">
                                <img class="img-entregador" src="https://user-images.githubusercontent.com/44476076/145065017-52684585-8d46-443d-b193-a3cbfcc1555f.jpeg" alt="">
                            </div>

                            <div class="carousel-item">
                                <img class="img-entregador" src="https://user-images.githubusercontent.com/44476076/145065020-717a4edb-b6d0-4e10-83bd-f35e304010b6.jpeg" alt="">
                            </div>

                            <div class="carousel-item">
                                <img class="img-entregador" src="https://user-images.githubusercontent.com/44476076/145065022-592df299-71a6-4865-9d77-41d9a376478f.jpeg" alt="">
                            </div>

                            <div class="carousel-item">
                                <img class="img-entregador" src="https://user-images.githubusercontent.com/44476076/145065024-9f1ff0b2-68a7-4261-bbb2-57ac60bd67ea.jpeg" alt="">
                            </div>

                            <div class="carousel-item">
                                <img class="img-entregador" src="https://user-images.githubusercontent.com/44476076/145065028-540da425-fdcf-47ea-b121-b1fc2806f40d.jpeg" alt="">
                            </div>

                            <div class="carousel-item">
                                <img class="img-entregador" src="https://user-images.githubusercontent.com/44476076/145067672-997e7aec-8399-4822-9dfa-4de2fb858e5b.jpeg" alt="">
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">Sua entrega de Delivery sempre garantidade!</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/static/img/bg-1.png" alt="Unsplashed background img 3"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4 id="contato" class="text-entregadores">Entre em contato</h4>
                    <div class="row">
                        <form class="col s12" action="{% url 'send' %}" method="POST"> {% csrf_token %}
                            <div class="row">
                                <div class="input-field col s6">
                                    <input name="name" id="name" type="text" class="validate">
                                    <label for="first_name">Seu nome</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="number" type="number" name="number" class="validate">
                                    <label for="number">Seu número</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" name="email" type="email" class="validate">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <button type="submit" data-bs-toggle="modal" data-bs-target="#myModal" class="waves-effect waves-light btn"> 
                            Enviar
                          </button>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Muito obrigado pelo contato <span class="fas fa-heart"></span> </h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="ps-2">Entraremos em contato com você o mais breve possível.</div>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Mr Bee Delivery</h5>
                    <p class="grey-text text-lighten-4"> Somos uma empresa comprometida com nossos clientes, sempre garantindo a sua entrega!</p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Contatos</h5>
                    <ul>
                        <li>
                            <i class="fas fa-home me-3"></i> Em Breve
                        </li>
                        <li>
                            <i class="fas fa-envelope me-3"></i> mrbeedeliveryp@gmail.com
                        </li>
                        <li>
                            <i class="fas fa-phone me-3"></i> + 55 (83) 99663-6216
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Mr Bee Delivery <a class="brown-text text-lighten-3">© 2021 Copyright</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            $('.carousel').carousel();
        });
    </script>

</body>

</html>